
#nav1>ul>li>a{
    text-decoration: none;
    color: white;
    padding: 20% 10%;
    transition: 0.3s;
}

#nav1>ul>li>a:hover{
    background-color: #ff6600;
    color: white;
    border-radius: 8px;
}

#DEF{
    text-decoration: none;
    color: white;
}
#DEF:hover{
    color:blue;
}