body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 {
    border: 3px solid rgba(241, 239, 239, 0.322);
    width:720px;
    display:flex;
    flex-direction:column;
    font-family:Arial, Helvetica, sans-serif;
}
#name {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}
#heading-1 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 12px;
    color: darkblue;
    font-weight: bold;
}
#p0{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.bullet::before{
    content: "•";
    color: black;
}
.bullet1::before{
    content: "•";
    color: black;
    margin-right: -5px;
}
#p1{
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
}
#location{
    width: 22px;
    padding-left: 2px;
    position:relative;
    bottom: 2px;
}
#icondiv{
    margin-top: 0px;
    margin-bottom: 0px;
}
#icon{
    display:inline-flex ;
    width: 22px;
    padding-left: 5px;
    padding-right: 3px;
    margin-bottom: 0px;
}
#heading-2{
    margin-top: 6%;
    margin-bottom: 0%;
    /* border: 1px solid green; */
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
}
#lineonly{
    margin-top: 5px;
    border-top: 2px solid hwb(12 43% 7% / 0.479);
}
#indiv-1{
    display: flex;
    /* border: 2px solid rgb(241, 35, 35); */
    margin-top: 12px;
}

#sp{
    margin-top: 0px;
    margin-bottom: 10px;
}
.sp1{
    font-weight: bolder;
}
.sp2{
    color: darkblue;
    font-weight: bold;

}
.sp3{
    font-size: 12px;
}

#building{
    position: relative;
    background-color: rgb(214, 214, 214);
    box-shadow:inset 0px 0px 20px rgb(255, 255, 255);
    filter: blur(0.4px);
    border-radius: 2px;
    width: 40px;
    height: 40px;
}
.building_div{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 27%;
    width: 18px;
    filter: contrast(40%);
}
#indiv_1_1{
    height: 120px;
    width: 220px;
    margin-top: 2px;
    margin-left: 2%;
    margin-right: 3%;
    /* border: 2px solid black; */
    padding-bottom: 0;
}
#indiv_1_2{
    margin-top: 2px;
    width: 440px;
    /* border: 2px solid black; */
}