#menu{
    width: 250px;
    height: 100%;
    background-color: blueviolet;
    position: fixed;
    z-index: 2;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HomeSection{
    position: relative;
    top: 10px;
    width: 80%;
    height: 50px;
    background-color: brown;
}
#YouSection{
    position: relative;
    top: 20px;
    width: 80%;
    height: 50px;
    background-color: brown;
}